body {
    background-color: #c6c6c6;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);;

}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(45,81,117,1) 100%);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}